@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body h2{
    color: black;
    font-family: "Oswald", sans-serif;
    font-size: 3.5rem;
    font-weight: 800;
}

.imageContainer{
    background-image: linear-gradient(to left, #00000070, #00000070), url(/imgs/background-raio-verde.webp), url(/chargeup/imgs/background-raio-verde.webp);
    background-position: bottom;
    background-size: cover;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    height: 15vh;
}

.newHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    height: 15vh;
    position: sticky;
    top: 0;
    background-color: white;
    transition: 1s;
    z-index: 999;
}

.newHeader a{
    text-decoration: none;
    color: white;
    background-color: #216027;
    padding: .55em 1em;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

header img{
    width: 250px;
}

.noDisplay{
    display: none;
}

header a{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: .55em 1em;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    box-shadow: 3px 3px 40px #ffdd028a;
}

@keyframes fadeInRight {
    from{right: 120vw;}

    to{right: 0}
}

@keyframes fadeInLeft {
    from{left: 120vw;}

    to{left: 0}
}

@keyframes easeAnim {
    from{opacity: 0%;}

    to{opacity: 100%;}
}

.showLeft{
    animation: fadeInRight;
    animation-duration: 1.5s;
    position: relative;
    right: 120vw;
    animation-fill-mode: forwards;
    animation-delay: 100ms;
}

.showRight{
    animation: fadeInLeft;
    animation-duration: 1.5s;
    position: relative;
    left: 120vw;
    animation-fill-mode: forwards;
    animation-delay: 100ms;
}

.showEase{
    animation: easeAnim 2s;
}

main{
    display: flex;
    align-items: center;
    height: 85vh;
    scrollbar-width: none;
}

.mainContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 150px;
}

main h1{
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    font-weight: 800;
    animation: fadeInRight;
    animation-duration: 1s;
    position: relative;
    right: 120vw;
    animation-fill-mode: forwards;
}

main p{
    color: rgb(172, 172, 172);
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    animation: fadeInRight;
    animation-duration: 1s;
    position: relative;
    right: 120vw;
    animation-fill-mode: forwards;
    animation-delay: 100ms;
}

.mainContent a{
    text-decoration: none;
    color: white;
    background-color: #216027;
    padding: .6em 1.2em;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    box-shadow: 2px 2px 40px rgba(159, 159, 159, 0.3);
    margin-top: 40px;
    cursor: pointer;
    transition: .5s;
    width: fit-content;
    animation: fadeInRight;
    animation-duration: 1s;
    position: relative;
    right: 120vw;
    animation-fill-mode: forwards;
    animation-delay: 200ms;
}

.sobreContainer{    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 120px;
    overflow: hidden;
}

.sobreContent{
    width: 50%;
    margin-right: 30px;
}

.sobreContent h2{
    border-bottom: solid 3px black;
    width: fit-content;
}

.sobreContent p{
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: rgb(131, 131, 131);
    margin-top: 40px;
}

.sobreImg{
    width: 50%;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobreImg img{
    width: 450px;
}

.metasContainer{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    overflow: hidden;
}

.metasContainer h2{
    border-bottom: solid 3px black;
    width: fit-content;
}

.metasContainer h3{
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    margin: 0 30px;
    width: fit-content;
}

.metasImgs{
    width: 150px;
}

.metasContainer p{
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: rgb(131, 131, 131);
    margin-top: 30px;
    width: fit-content;
}

.metaLeftContainer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}

.metaInfo{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.metaTitle{
    display: flex;
    justify-content: left;
    align-items: center;
}

.metaImg img{
    width: 35vw;
}

.metaRightContainer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-top: 60px;
}

.maisInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.infoContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
}

.infoText{
    width: 40%;
}

.infoGrafic{
    width: 40%;
}

.infoGrafic img{
    width: 550px;
}

.infoText p{
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: rgb(131, 131, 131);
}

.infoContainerReverse{
    flex-direction: row-reverse;
}

.maisInfo h3{
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: rgb(131, 131, 131);
    margin-top: 60px;
}

.sustContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    overflow: hidden;
}

.sustImgs{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.sustImgs img{
    width: 500px;
}

.sustContainer h2{
    margin-bottom: 60px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20vh;
    background-color: #DFF7E5;
    margin-top: 60px;
}

footer img{
    width: 250px;
}

footer a{
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: rgb(131, 131, 131);
}

footer i{
    background-color: #216027;
    padding: 0.8em;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: 1s;
}

footer i:hover{
    transform: rotate(360deg)
}