@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyContainer{
    position: relative;
}

.imageContainer{
    background-image: linear-gradient(to left, #00000070, #00000070), url(/chargeup/imgs/background-raio-verde.webp);
    background-position: bottom;
    background-size: cover;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    height: 15vh;
}

.newHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    height: 15vh;
    position: sticky;
    top: 0;
    background-color: white;
    transition: 1s;
    z-index: 999;
}

.newHeader a{
    text-decoration: none;
    color: white;
    background-color: #216027;
    padding: .55em 1em;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

header img{
    width: 250px;
}

.noDisplay{
    display: none;
}

header a{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: .55em 1em;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    box-shadow: 3px 3px 40px #ffdd028a;
}

@keyframes fadeInRight {
    from{right: 120vw;}

    to{right: 0}
}

@keyframes fadeInLeft {
    from{left: 120vw;}

    to{left: 0}
}

main{
    display: flex;
    align-items: center;
    height: 85vh;
    scrollbar-width: none;
}

.mainContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 150px;
}

main h1{
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    font-weight: 800;
    animation: fadeInRight;
    animation-duration: 1s;
    position: relative;
    right: 120vw;
    animation-fill-mode: forwards;
}

main h2{
    color: rgb(172, 172, 172);
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    animation: fadeInRight;
    animation-duration: 1s;
    position: relative;
    right: 120vw;
    animation-fill-mode: forwards;
    animation-delay: 100ms;
}

.mainContent a{
    text-decoration: none;
    color: white;
    background-color: #216027;
    padding: .6em 1.2em;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    box-shadow: 2px 2px 40px rgba(159, 159, 159, 0.3);
    margin-top: 40px;
    cursor: pointer;
    transition: .5s;
    width: fit-content;
    animation: fadeInRight;
    animation-duration: 1s;
    position: relative;
    right: 120vw;
    animation-fill-mode: forwards;
    animation-delay: 200ms;
}

.sobreContainer{    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 120px;
}

.sobreContent{
    width: 50%;
    margin-right: 30px;
}

.sobreContent h2{
    color: black;
    font-family: "Oswald", sans-serif;
    font-size: 4rem;
    font-weight: 800;
    border-bottom: solid 3px black;
    width: fit-content;
}

.sobreContent p{
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: rgb(131, 131, 131);
    margin-top: 40px;
}

.sobreImg{
    width: 50%;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobreImg img{
    width: 450px;
}

.metasContainer{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    overflow: hidden;
}

.metasContainer h2{
    color: black;
    font-family: "Oswald", sans-serif;
    font-size: 4rem;
    font-weight: 800;
    border-bottom: solid 3px black;
    width: fit-content;
}

.metasContainer h3{
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    margin: 0 30px;
    width: fit-content;
}

.metasContainer img{
    width: 150px;
}

.metasContainer p{
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: rgb(131, 131, 131);
    margin-top: 30px;
    width: fit-content;
}

.meta1Container{
    margin-top: 60px;
    margin-right: 20%;
    width: 60%;
}

.meta1{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    
}

.meta2Container{
    margin-top: 60px;
    margin-left: 20%;
    width: 60%;
}

.meta2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: right;
    width: 100%;
}

.meta2Container p{
    text-align: right;
}

.meta3Container{
    margin-top: 60px;
    margin-right: 20%;
    width: 60%;
}

.meta3{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
}

.meta4Container{
    margin-top: 60px;
    margin-left: 20%;
    width: 60%;
}

.meta4{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: right;
    width: 100%;
}

.meta4Container p{
    text-align: right;
}